body {
    margin: 0%;
    padding: 0%;
    background-image: url(img/background_linered);
    background-repeat: repeat;
    background-size: contain;
}

nav img {
    width: 100px;
    height: 100px;
}

nav {
    background-color: #141414;
    font-size: 20px;

}


nav ul li {
    padding-left: 20px;
}

#navbarNavDropdown {
    padding-left: 50px;
}

p {
    margin-bottom: 100px;
}

#lastp {
    margin-bottom: 50px;
}

footer {
    width: 100%;
}

#portrait {
    width: 100%;
    height: auto;
}

.bg-primary {
    background-image: url(img/background_agent.png);
}

#abilitie {
    width: 30%;
    height: auto;
}

.filter {
    -webkit-filter: brightness(1) invert(1);
    filter: brightness(1) invert(1);
}

#middle{
    margin-left: 10%;
}

#role_agent{
    max-width: 50%;
}

#description {
    text-align : justify;
    white-space: normal;
}

.condensed-description {
    max-width: 400px;
    word-wrap: break-word;
}

.order-left {
    flex-direction: row-reverse; /* Inverse l'ordre des éléments pour afficher "left" à droite */
}

.order-right {
    flex-direction: row; /* Garde l'ordre normal des éléments */
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
