
nav img {
    width: 100px;
    height: 100px;
}

nav {
    background-color: #141414;
    font-size: 20px;

}


nav ul li {
    padding-left: 20px;
}

#navbarNavDropdown {
    padding-left: 50px; 
}


p{
    margin-bottom: 100px;
}

#lastp {
    margin-bottom: 50px;
}

footer {
    width: 100%;
}
